html {
    background: url('images/teslas.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
  }
  #container {
    margin: auto;
    width: 1300px;
  }
  
  #logo img {
    width: 150px;
    float: left;
    position: absolute;
  }
  #left-nav-buttons {
    float: left;
    margin-left: 205px;
  }
  
  #right-nav-buttons {
    margin-left: 805px;
  }
  .nav-button {
    color: white;
    text-decoration: none;
    margin-left: 25px;
  }